
@{
    ViewBag.Title = "create";
}

<h2>create</h2>

<form action="" method="post">

    <input type="text" name="name" placeholder="name" />

    <br />
    <input type="submit" name="submit" class="btn  btn-success" value="submit" />





</form>